*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.toptitle{
	width: 100vw;
	height: 70vh;
	background-image: url('images/imort.jpg');
	background-position: bottom;
    background-size:cover;
	background-repeat: no-repeat;
	color: #fff;
	
}
 .dubaivideo{ width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
	position: relative;
	padding: 0 5%;
	display: flex;

}

h1{color:black ;
font-size:50px ;
text-align:center ;
}

h4 {
	display:block ;
	color:red;
	font-size:50px ;
	text-align:center ;
	background-color:white ;
	
	height:200px;
	 top:0;
	margin-bottom:0 ;


	
}



ul{
	list-style-type:none ;
	background-color:black ;
	margin: 0;

	padding: 0;
	overflow:hidden ;

}



li a{
	display:block;
	text-align:center ;
	text-decoration:none;
	padding:6px  15px;
	border-radius: 20px;


}

li a:hover{
background-color: white;
color: red;}

li{
	float: left;}
	
	.login{
		float:right;

	}
	.dubaivideo{ 

		 display: flex;
		justify-content: center;
		place-items: center;
		align-content: center;

	}

.dubai3{
	width:500px ;
	height: 600px;

}
h5{
	color:black ;
   font-size:50px ;
   text-align:center ;

}
.dubai1 img{
	width: 100%;
	height: 100%;
}
.homeheading4 h5{
	color:black ;
   font-size:50px ;
   text-align:center ;
}
   .dubaiimage img{
	width: 100%;
	height: 100%;
	background-image: url("images/dubai7.jpg" 
   );
   
}
 .paragrap {

 	color:black ;
   font-size:30px ;
   text-align:center ;
   
}
.paragrap2 { 
 	color:black ;
   font-size:30px ;
text-align:center ;
}

